/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

sub {
	vertical-align: sub;
	font-size: smaller;
}

.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

p {
	line-height: 150%;
}

#nav {
	/*background-color: #000000;*/
	text-align: center;
	font-size: 18pt;
}

#nav ul li {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 130px;
}

#nav a {
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}

#sidebar {
	margin: 5px 0 0 0;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: : underline;
}

#sidebar header {
	font-weight: bold;
	font-size: 13pt;
	margin: 0 0 10px 0;
}

#content {
	padding-right: 30px;
}

cite {
	display: block;
	margin: 10px 0 0 10px;
	font-size: 13pt;
}

cite span.author {
}

cite span.title {
	font-style: italic;
}

cite span.volume {
	font-weight: bold;
}

p img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#nav ul li {
			display: block;
			margin-bottom: 10px;
		}

		img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
